{% extends "base.html" %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static %}
{% load orangeMainApp_tag %}
{% load products_tag %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/style_catalog_goods.css' %}">
<link rel="stylesheet" href="{% static 'css/register_auth.css' %}">
<link rel="stylesheet" href="{% static 'css/statick_style_new.css' %}">
<link rel="stylesheet" href="{% static 'css/user.css' %}">
<link rel="stylesheet" href="{% static 'css/order_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/take_order.css' %}">
<link rel="stylesheet" href="{% static 'css/autocomplite.css' %}">
<link rel="stylesheet" href="{% static 'css/order_detail_mobile.css' %}">
<link rel="stylesheet" href="{% static 'css/user_cart.css' %}">

{% endblock css_block %}

{% block icon %}
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/icon_title.png' %}">
{% endblock icon %}

{% block nav_list_big %}
<div class="block_nav_list_big">
	<a href="#" class="nav_item_link_big">О компании</a>
	<a href="#" class="nav_item_link_big">О продукции</a>
	<button class="nav_item_btn_big">
		Каталог товаров
		<img src="{% static 'images/header/vector_list_of_good.svg'%}" alt="Каталог" class="nav_item_arrow_big">
	</button>
</div>
{% endblock nav_list_big %}
{% block catalog_of_goods_block %}
{% category_list_relative %}
{% endblock catalog_of_goods_block %}

{% block content %}
	<section class="link_section">
		<div class="link_section_block">
			<img src="{% static 'images/links_section/links_back.svg'%}" alt="<">
			<a href="{% url 'user_cart' %}">Корзина</a>
		</div>
	</section>
	<section class="order_section">
		<div class="order_header">
			<h2 class="h2_some_block_title_32_pb_0">
				Оформить заказ
			</h2>
		</div>
		<div class="order_block_take">
			<div class="take_order">
				<form action="#" method="post" class="take_order_form">
					{% csrf_token %}
					<!--Статус пользователя-->
					<div class="order_form_item">
						<div class="checked_item_form">
							<img src="{% static 'images/makeOrder/VectorV.svg'%}" alt="V">
						</div>
						
						<p class="header_form_item">Заказ от имени</p>
						<div class="item_body valueName">
							<div class="form_radio_btn">
								<input id="radio-1" type="radio" name="buyerStatus" value="1" class="radio_data">
								<label for="radio-1">Физлица</label>
							</div>

							<div class="form_radio_btn">
								<input id="radio-2" type="radio" name="buyerStatus" value="2" class="radio_data">
								<label for="radio-2">Юрлица</label>
							</div>
						</div>
					</div>

					<!--Город получения-->
					<div class="order_form_item">
						<div class="checked_item_form">
							<img src="{% static 'images/makeOrder/VectorV.svg'%}" alt="V">
						</div>
						
						<p class="header_form_item">Город получения</p>
						<div class="item_body">
							{{form.city_delivery}}
						</div>
					</div>
					<!--Способ получения-->
					<div class="order_form_item">
						<div class="checked_item_form">
							<img src="{% static 'images/makeOrder/VectorV.svg'%}" alt="V">
						</div>
						<p class="header_form_item">Способ получения</p>
						<div class="item_body methodOfobtaining">
							<div class="form_radio_btn">
								<input id="radio_delivery" type="radio" name="methodDelivery" value="1"
									class="radio_data">

								<label for="radio_delivery">Курьерская доставка</label>

							</div>

							<div class="form_radio_btn">
								<input id="radio_delivery_1" type="radio" name="methodDelivery" value="2" class="radio_data">
								<label for="radio_delivery_1">Почта России</label>
							</div>

							<div class="form_radio_btn">
								<input id="radio_delivery_2" type="radio" name="methodDelivery" value="3" class="radio_data">
								<label for="radio_delivery_2">Постамат</label>
							</div>
						</div>
					</div>
					<!--Адрес доставки - форма-->
					<div class="order_form_item adres_list">
						<div class="checked_item_form">
							<img src="{% static 'images/makeOrder/VectorV.svg'%}" alt="V">
						</div>
						<p class="header_form_item">Адрес доставки</p>


					</div>
					<!--Метод оплаты-->
					<div class="order_form_item payment_type" id="payment_type">
						<div class="checked_item_form">
							<img src="{% static 'images/makeOrder/VectorV.svg'%}" alt="V">
						</div>
						<p class="header_form_item">Оплата</p>
						<div class="item_body variant_pay">
							<div class="form_radio_btn">
								<input id="pay_type_cash" type="radio" name="methodPay" value="1" class="radio_data pay_data"
									data-tabs-btn="cash">
								<label for="pay_type_cash">Наличные</label>
							</div>

							<div class="form_radio_btn">
								<input id="pay_type_bank_cart" type="radio" name="methodPay" value="2"
									class="radio_data pay_data" data-tabs-btn="bank_cart">
								<label for="pay_type_bank_cart">Банковской картой</label>
							</div>

							<div class="form_radio_btn">
								<input id="pay_type_tinkoff" type="radio" name="methodPay" value="3"
									class="radio_data pay_data" data-tabs-btn="tinkoff">
								<label for="pay_type_tinkoff">Tinkoff</label>
							</div>
							<div class="tabs_block">

								<div class="cash_tabs pay_type_tabs" data-tabs="cash">
									<p class="cart_p_14">
										Выбрана наличная форма оплаты. Оплата при получении товара
									</p>
								</div>

								<div class="bank_cart_tabs pay_type_tabs" data-tabs="bank_cart">
									<div class="block_number_cart">
										<div class="number_cart_header">
											<img src="{% static 'images/makeOrder/Layer 2.svg'%}" alt="Банковская карта"
												class="cart_header_logo">
											<div>
												<img src="{% static 'images/makeOrder/карта.svg'%}"
													alt="visa" class="cart_icons">
												<img src="{% static 'images/makeOrder/Group 202.svg'%}" alt="master" class="cart_icons">
											</div>
										</div>
										<div class="input_mask_number">
											<p class="cart_p_14">
												Номер карты
											</p>
											<input type="text" name="cart_number_1" id="cart_number" class="cart_number"
												minlength="4" maxlength="4" placeholder="0000" required>
											<input type="text" name="cart_number_2" id="cart_number_2" class="cart_number"
												minlength="4" maxlength="4" placeholder="0000" required>
											<input type="text" name="cart_number_3" id="cart_number_3" class="cart_number"
												minlength="4" maxlength="4" placeholder="0000" required>
											<input type="text" name="cart_number_4" id="cart_number_4" class="cart_number"
												minlength="4" maxlength="4" placeholder="0000" required>
										</div>
										<div class="input_mask_date">
											<p class="cart_p_14">
												MM / ГГ
											</p>
											<input type="text" name="cart_year" id="cart_year" class="cart_date" minlength="2"
												maxlength="2" placeholder="MM" required>
											<span class="between_span">/</span>
											<input type="text" name="cart_month" id="cart_month" class="cart_date" minlength="2"
												maxlength="2" placeholder="ГГ" required>
										</div>

									</div>

									<div class="block_CVV_cart">
										<div class="header_line">

										</div>
										<div class="CVV_input_block">
											<div>
												<input type="text" name="cart_cvv" id="cart_cvv" class="cart_cvv" minlength="3"
													maxlength="3" placeholder="CVV" required>
												<p class="p15_sans_grey">Три цифры на обороте карты</p>
											</div>

										</div>
									</div>
								</div>

								<div class="tinkoff_tabs pay_type_tabs" id="tinkoff_cart_tab" data-tabs="tinkoff">
									<input type="text" name="tinkoff_cart" id="tinkoff_cart" class="tinkoff_cart"
										placeholder="Номер карты tinkoff">
								</div>

							</div>
						</div>
					</div>
					<div class="block_btn_take_order">
						<button class="order_btn_orange" disabled>
							Отправить заказ
						</button>
					</div>

				</form>
			</div>

			<div class="order_data">
				<h3 class="h3_20_sans">
					Состав заказа
				</h3>
				<div class="order_list">
					{% for cart in carts_list %}
					<div class="order_item_list">
						<div class="item_img">
							<img src="{{cart.product.image.url}}" alt="Фото">
						</div>
						<div class="order_item_data">
							<p>{{cart.product.name}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="order_total_list">
					<div class="order_list_item">
						<span class="cart_p_14">Сумма заказа</span>
						<span class="p_15_bold">{{carts_list.total_price}}₽</span>
					</div>
					<div class="order_list_item">
						<span class="cart_p_14">НДС 20% (включено в цену)</span>
						<span class="p_15_bold">{{carts_list.total_NDS}}₽</span>
					</div>
					<div class="order_list_item">
						<span class="cart_p_14">Скидка</span>
						<span class="p_15_bold">{{carts_list.get_promo_discaunt}} ₽</span>
					</div>
					<div class="order_list_item">
						<span class="cart_p_14">К оплате</span>
						<span class="h3_24_sans">{{carts_list.price_discount}} ₽</span>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/autocomplite.js'%}"></script>
<script src="{% static 'js/script_order.js'%}"></script>
{% endblock scripts %}