{% extends "base.html" %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static %}
{% load orangeMainApp_tag %}
{% load products_tag %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/style_catalog_goods.css' %}">
<link rel="stylesheet" href="{% static 'css/register_auth.css' %}">
<link rel="stylesheet" href="{% static 'css/statick_style_new.css' %}">
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock css_block %}

{% block icon %}
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/icon_title.png' %}">
{% endblock icon %}

{% block nav_list_big %}
<div class="block_nav_list_big">
	<a href="#" class="nav_item_link_big">О компании</a>
	<a href="#" class="nav_item_link_big">О продукции</a>
	<button class="nav_item_btn_big">
		Каталог товаров
		<img src="{% static 'images/header/vector_list_of_good.svg'%}" alt="Каталог" class="nav_item_arrow_big">
	</button>
</div>
{% endblock nav_list_big %}
{% block catalog_of_goods_block %}
{% category_list_relative %}
{% endblock catalog_of_goods_block %}

{% block content %}
<section class="section_edit_user">
	<div class="edit_user_block">
		<form method="POST" class="registration_form" enctype="multipart/form-data">
			<div class="img_block_registration_form">
				<img src="{% static 'images/category/form_img.png' %}" alt="ЛОГОТИП">
			</div>
		
			<h3 class="h3_28_black">Редактирование пользователя {{user}}</h3>
			{% csrf_token %}
			
			{{ form.nick_name }}
			<div class="form-error">{{form.nick_name.errors}}</div>

			<label class="input-file">
				{{ form.image }}
				<span class="input-file-btn">Выберите файл</span>
				<span class="input-file-text">Фото для аватарки</span>
			</label>


			{{ form.phone_number }}
			<div class="form-error">{{form.phone_number.errors}}</div>
		
			<button type="submit" class="button_form">Редактировать</button>
		</form>


		</div>
	</div>
</section>
{% endblock content %}