{% extends "base.html" %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static %}
{% load orangeMainApp_tag %}
{% load products_tag %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/style_catalog_goods.css' %}">
<link rel="stylesheet" href="{% static 'css/register_auth.css' %}">
<link rel="stylesheet" href="{% static 'css/statick_style_new.css' %}">
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock css_block %}

{% block icon %}
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/icon_title.png' %}">
{% endblock icon %}

{% block nav_list_big %}
<div class="block_nav_list_big">
	<a href="#" class="nav_item_link_big">О компании</a>
	<a href="#" class="nav_item_link_big">О продукции</a>
	<button class="nav_item_btn_big">
		Каталог товаров
		<img src="{% static 'images/header/vector_list_of_good.svg'%}" alt="Каталог" class="nav_item_arrow_big">
	</button>
</div>
{% endblock nav_list_big %}
{% block catalog_of_goods_block %}
{% category_list_relative %}
{% endblock catalog_of_goods_block %}

{% block content %}
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li class="{{ message.tags }}">
		{{ message|safe }}
	</li>
	{% endfor %}
</ul>
{% endif %}
	<section class="user_main_section">
		<div class="user_main_block">
			<div class="user_profile_block">
				<div class="user_profile">

					{% if user.image %}
					<img src="{{ user.userbuyersdata.image.url  }}" alt="Аватар" class="avatar">
					
					{% else %}
					<img src="{% static 'images/user/baseavatar.jpg' %}" alt="Аватар" class="avatar">
					{% endif %}

					<div class="user_info">
						<h2 class="p_18_Sans">{{user.first_name}} {{user.last_name}}</h2>
						<p class="p15_sans_grey">{{user.email}}</p>
						<a href="{% url 'edit_user' user_data.id %}">Редактировать профиль </a>
					</div>
				</div>
			</div>
			
			<div class="user_cart">
				<h2 class="h2_some_block_title_32_pb_0">Мои заказы</h2>
				{% if orders %}
				<div class="user_cart_block">
					<div class="user_cart_header">
						<div class="data_header">
							<p class="cart_p_14">
								Дата
							</p>
						</div>
						<div class="number_header">
							<p class="cart_p_14">
								Номер
							</p>
						</div>
						<div class="product_header">
							<p class="cart_p_14">
								Товары
							</p>
						</div>
						<div class="status_header">
							<p class="cart_p_14">
								Статус
							</p>
						</div>
						<div class="total_header">
							<p class="cart_p_14">
								Итого
							</p>
						</div>
					</div>
				</div>
				{% for order in orders %}
				<div class="user_cart_list">
					<div class="user_cart_item">
						<div class="cart_item_data">
							<p class="p15_sans_grey_left">{{order.create_time | date:"d.m.Y"}}</p>
						</div>
						<div class="cart_item_number">
							<a href="{{order.get_absolute_url}}"><p>{{order.order_num}}</p></a>
						</div>
						<div class="cart_item_product_list">
							{% for product in order.order.all %}
							<a href="{{product.product.get_absolute_url}}">
								<img src="{{product.product.image.url}}" alt="Фото">
							</a>
							{% endfor %}
						</div>
						<div class="cart_item_status">
							{% if order.statusPay %}
							<p class="p15_sans_grey_left">Оплачено</p>
							{% else %}
							<p class="p15_sans_grey_left">Не оплачено</p>
							{% endif %}
						</div>
						<div class="cart_item_total">
							<p class="p_15_bold">{{order.price}} ₽</p>
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<p>У вас нет заказов</p>
				{% endif %}
			</div>
			
		</div>
	</section>
{% endblock content %}