{% load static %}

<div class="about_us_main">
	<div class="about_us_block">
		<div class="about_us_content">
			
			<p class="p_18_Sans"><span class="dropcaps">О</span><b class="b_orange">range</b> – немецкая торговая марка. Главный офис и основное
				производство расположены в Германии. Производим смесители,
				душевые кабины, ванны и мебель для ванных комнат.</p>
			<p class="floatOff"></p>
			<p class="p_18_Sans">Мы предлагаем качественную продукцию немецкого производства, которая полностью
				адаптирована к реалиям российскиого
				рынка.</p>
		</div>

		<div class="about_us_items">
			<div class="own_production">
				<h3>Cобственное производство</h3>
				<p>Выский уровнень технологий позволяет гарантировать качество продукции на протяжении 10 лет</p>
			</div>
			<div class="ecologi">
				<h3>Экологичность и доступность</h3>
				<p>Уникальный состав сплава делает продукцию Orange безопасной для потребителя</p>
			</div>
		</div>
	</div>
</div>
